<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Cogni World</title>
  </head>
  <body
    style="background-color: #8563DC;display:flex;flex-direction:column;justify-content: center;align-items: center;height:80vh;color:#FFF;padding:20px"
  >
    <img src="https://i.ibb.co/KVB7mbj/logo-white.png" style="width:100px" />
    <h2>
      Your
      <span style="font-weight: bold;color:#ffffffa6">Cogni World</span>
      account is verified
    </h2>
  </body>
</html>
